/* Círculo Rojo */
.circle-red {
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
}

/* Círculo Verde */
.circle-green {
    width: 20px;
    height: 20px;
    background-color: #009d00;
    border-radius: 50%;
}
