/* Círculo Rojo */
.circle-red {
<<<<<<< HEAD
=======
    margin: 0 auto;
>>>>>>> adminfront
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
}

/* Círculo Verde */
.circle-green {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-color: #009d00;
    border-radius: 50%;
}
